@model IEnumerable<LogChallenge.Application.Dto.LogDto>

@{
    ViewData["Title"] = "Index";
}

@using X.PagedList.Mvc.Core;
@using X.PagedList;

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css"/>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>&nbsp; &nbsp;<a asp-action="Import">Import file</a>
</p>

<div class="input-group">
    <input type="text" class="form-control" id="textbox_search">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary dropdown-toggle" type="submit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</button>
        <div class="dropdown-menu" id="selectedOption">
            <a class="dropdown-item" href="#" id="host">By Host</a>
            <a class="dropdown-item" href="#" id="userAgent">By UserAgent</a>
            <a class="dropdown-item" href="#" id="dateTime">By DateTime</a>
        </div>
    </div>
</div>
<br>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Host)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAgent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ViewBag.OnePageOfProducts)
        {
            <tr>
                <td>
                    @product.Host
                </td>
                <td>
                    @product.Identity
                </td>
                <td>
                    @product.User
                </td>
                <td>
                    @product.DateTime
                </td>
                <td>
                    @product.Request
                </td>
                <td>
                    @product.StatusCode
                </td>
                <td>
                    @product.Size
                </td>
                <td>
                    @product.Referer
                </td>
                <td>
                    @product.UserAgent
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = @product.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = @product.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = @product.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">

    $("#selectedOption").on("click", '.dropdown-item', function (e) {
        window.location.href = "../log/index?" + $(this).attr('id') + "=" + $("#textbox_search").val();
    });

</script>